@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@500&display=swap");
body {
    background: #dddddd;
    margin: 0;
    font-family: "Azeret Mono";
}

.navbar div {
    display: flex;
    font-family: "Azeret Mono";
    background: #222831;
    padding: 1em;

    .text-logo {
        text-decoration: none;
        font-weight: bold;
        color: #dddddd;
        font-size: 2em;
        letter-spacing: 0.2em;
        padding-left: 2em;
        padding-top: 0.2em;

        span {
            color: #f05454;
        }
    }

    .navigation-paths {
        padding-left: 18em;
        
        list-style: none;

        a {
            font-weight: bold;
            font-size: 1.2em;
            padding-left: 2em;
            text-decoration: none;
            color: #f05454;
        }
    }
}

.playing-field {
    padding-top: 0em;
    padding-bottom: 0em;
   
   
    .profile-pic {
        padding-left: 20em;

        .name {
            font-size: 0.9em;
        }

        p {
            font-size: 0.6em;
        }

        img {
            width: 15em;
            height: 15em;
            border-radius: 1em;
            margin-top: 3.5em;
        }
    }
    .about-me {
      
    
        p {
            margin-top: 3.3em;
            margin-left: 1em;
            padding-right: 20.5em;
            padding-left: 0.5em;
            padding-top: 0.5em;

            padding-bottom: 00.5em;
            border-radius: 1em;
            text-align: justify;
            background: #ffe98a;
            
        }
         
    }
}
.crybaby-hero {
    text-align: center;
}

.machine-problems {
    text-align: center;
    background: #30475e;


    img{

        width: 10em;
        height: 10em;
    }
    ul {
        color: #dddddd;
        display: flex;
         text-align: center;
       

        list {
    
            padding: 2em;
            h3 {
                font-size: 0.8em;
            }
            h4{
                font-size: 0.6em;
            }
        }

      
    }
    
}

.maker-info {
    
    
    h1 {
        text-align: center;
        color: black;
        font-size: 1em;
    }
    img{
        width: 2em;
        height: 2em;
        align-self: center;
    }
}

